*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Arial", Arial, sans-serif;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

a,
a:hover {
  color: grey;
}
