.booking {
  width: 100%;
}

.booking__step {
  width: 100%;
}

.booking__step-header {
  display: flex;
}

.booking__step-number {
  padding: 3px 20px;
  border: 2px solid black;
  border-radius: 30px;
  font-size: 1.5em;
  margin-right: 10px;
}

.booking select {
  border: 2px solid black;
  padding: 5px 10px;
}

.booking__step-content {
  display: flex;
  align-items: flex-start;
}
