.carousel {
  position: relative;
  width: 80%;
  height: 540px;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

@media only screen and (min-width: 100px) and (max-width: 350px ) {
  .carousel {
    position: relative;
    width: 80%;
    height: 300px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

@media only screen and (min-width: 350px) and (max-width: 376px ) {
  .carousel {
    position: relative;
    width: 80%;
    height: 350px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

@media only screen and (min-width: 376px) and (max-width: 628px ) {
  .carousel {
    position: relative;
    width: 80%;
    height: 390px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

.carousel-content {
  position: relative;
  overflow: hidden;
  transition: width .4s;
  height: 100%;
}

.slide {
  height: 100%;
  background-color: black;
  position: absolute;
  z-index: 10;
  transition: left .4s cubic-bezier(.47,.13,.15,.89);
}

.nav {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  background-color: rgba(150,150,150,.3);
  width: 20px;
  height: 20px;
  z-index: 2;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  color: white;
  -webkit-user-select: none;
}

.nav-left {
  left: -25px;
}

.nav-right {
  right: -25px;
}

.carousel-arrow-icon-left {
  margin-left: 5px;
  margin-top: 2px;
}

.carousel-arrow-icon-right {
  margin-left: 7px;
  margin-top: 2px;
}
