<div class="booking" data-controller="booking">
  <section class="booking__step">
    <div class="booking__step-header">
      <span class="booking__step-number">1</span>
      <h2>When are you looking to book?</h2>
    </div>
    <div class="booking__step-content">
      <div class="w-full lg:w-1/2">
        <div class="grid grid-cols-3 gap-2" data-controller="booking-months">
          <!-- populated with js -->
        </div>
      </div>

      <p class="w-full lg:w-1/2 ml-5">
        Looking to book more than 3 months out?<br>
        <a href="#">Reach out</a>
      </p>
    </div>
  </section>

  <section class="booking__step">
    <div class="booking__step-header">
      <span class="booking__step-number">2</span>
      <h2>Select a date</h2>
    </div>

    <div class="booking__step-content">
      <section class="calendar" data-controller="booking-calendar">
        <!-- populated with js -->
      </section>
    </div>
  </section>

  <section class="booking__step">
    <div class="booking__step-header">
      <span class="booking__step-number">2</span>
      <h2>Select a date</h2>
    </div>
  </section>

  <section class="booking__step">

  </section>
</div>
