<div class="booking">
  <section class="booking__step">
    <div class="booking__step-header">
      <span class="booking__step-number">1</span>
      <h2>When are you looking to book?</h2>
    </div>
    <div class="booking__step-content">
      <select name="#">
        <option value="12-21">December 2021</option>
        <option value="01-22">January 2022</option>
        <option value="02-22">February 2022</option>
      </select>

      <p>
        Looking to book more than 3 months out?<br>
        <a href="#">Reach out</a>
      </p>
    </div>
  </section>
  <section class="booking__step">

  </section>
  <section class="booking__step">

  </section>
  <section class="booking__step">

  </section>
</div>
