<div class="booking p-4 w-full" data-controller="booking">
  <div class="fetch-error text-center hidden">
    Error while fetching booking information. Please reload the page. <br>
    If the error persists, please <a href="mailto:info+site@capsul.studio?subject=Capsul%20Studio%20Special%20Request">reach out</a>
  </div>

  <section class="booking-step booking-step--active">
    <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-8">

      <div class="w-full h-full flex items-center">
        <div class="w-60 h-auto mx-auto lg:mx-0">
          <include src="partials/svg/capsul.svg"></include>
        </div>
      </div>

      <div class="w-full h-full flex items-center justify-center lg:justify-end text-center lg:text-right">
        Monday to Sunday 8AM to 12AM<br>
        24 Mercer Street<br>
        Unit 300 - Third floor<br>
        M5V 0C4, Toronto, ON
      </div>
    </div>
  </section>

  <section class="booking-step booking-step--active">
    <div class="booking-step__header">
      <span class="booking-step__number">1</span>
      <h2 class="text-lg">When are you looking to book?</h2>
    </div>

    <div class="booking-step__content">
      <div class="w-full">
        <div class="grid grid-cols-2 lg:grid-cols-4 gap-4" data-controller="booking-months">
          <!-- populated with js -->
        </div>
      </div>

      <p class="w-full mt-5 text-right text-gray-800">2 hour minimum bookings. For more information <a href="mailto:info+site@capsul.studio?subject=Capsul%20Studio%20Special%20Request">Reach out</a></p>
    </div>
  </section>

  <section class="booking-step">
    <div class="booking-step__header">
      <span class="booking-step__number">2</span>
      <h2 class="text-lg">Select a date and time</h2>
    </div>

    <div class="booking-step__content">
      <div class="w-full flex flex-wrap lg:flex-nowrap items-stretch">
        <section class="w-full lg:w-1/2 lg:pr-2 mb-4 lg:mb-0" data-controller="booking-calendar">
          <!-- populated with js -->
        </section>

        <section class="w-full lg:w-1/2 lg:pl-2 mb-4 lg:mb-0" data-controller="booking-time">
          <!-- populated with js -->
        </section>
      </div>

      <p class="w-full mt-5 text-right text-gray-800">Can't find a time that suits you? <a href="mailto:info+site@capsul.studio?subject=Capsul%20Studio%20Special%20Request">Reach out</a></p>
    </div>

  </section>

  <section class="booking-step">
    <div class="booking-step__header">
      <span class="booking-step__number">3</span>
      <h2 class="text-lg">Review and Checkout</h2>
    </div>

    <div
      class="booking-step__content"
      data-controller="booking-cart"
      data-action="
        stripe.products.fetched@window->booking-cart#update
        booking.time.changed@window->booking-cart#update
        booking.time.deleted@window->booking-cart#clearTime
      "
    >
      <div class="w-full flex flex-wrap lg:flex-nowrap items-stretch">
        <section class="w-full lg:w-1/2 lg:pr-2 mb-4 lg:mb-0">
          <div class="border-2 border-black rounded px-4 h-full flex flex-col">
            <article class="flex w-full py-4 border-b border-dotted border-true-gray-300">
              <span>
                <span class="block font-semibold" data-booking-cart-target="spaceProductTitle"></span>
                <span class="block empty:hidden text-sm" data-booking-cart-target="bookingTime"></span>
                <span class="block text-true-gray-500 text-sm" data-booking-cart-target="spaceProductDescription"></span>
              </span>
              <span class="ml-auto text-right">
                <span class="block" data-booking-cart-target="spaceProductPrice"></span>
                <span class="block text-sm" data-booking-cart-target="spaceProductQuantity"></span>
              </span>
            </article>

            <article class="flex w-full py-4">
              <span>
                <span class="font-semibold" data-booking-cart-target="cleaningProductTitle"></span><br>
                <span class="text-true-gray-500 text-sm"  data-booking-cart-target="cleaningProductDescription"></span>
              </span>
              <span class="ml-auto font-normal" data-booking-cart-target="cleaningProductPrice"></span>
            </article>

            <p class="flex font-semibold py-4 mt-auto border-t border-dotted border-true-gray-300">Estimated Total <span class="ml-auto font-normal" data-booking-cart-target="estimatedTotal"></span></p>
          </div>
        </section>

        <section class="w-full lg:w-1/2 lg:pl-2 mb-4 lg:mb-0">
          <form class="border-2 border-black rounded p-4 h-full" data-controller="booking-form" data-action="booking.time.changed@window->booking-form#update">
            <div class="mb-5">
              <label for="booking-name-input" class="w-full block">Full name *</label>
              <input data-booking-form-target="name" id="booking-name-input" class="input" type="text" placeholder="John Joe" required minlength="3">
            </div>
            <div class="mb-5">
              <label for="booking-email-input" class="w-full block">Email *</label>
              <input data-booking-form-target="email" id="booking-email-input" class="input" type="email" placeholder="you@email.com" required>
            </div>
            <div>
              <button data-booking-form-target="submitButton" data-action="booking-form#submit" type="submit" class="btn btn--blue cursor-alias font-semibold w-full flex items-center" disabled><span>Checkout</span> <span class="flex ml-2 mb-1 w-5 h-5"><include src="partials/svg/lock.svg"></include></span></button>
              <small class="text-true-gray-700 leading-tight block text-center mt-3 bg-gray-100 roudned p-3">
                We hold your booking for one hour while waiting for your payment.
              </small>
            </div>
          </form>
        </section>
      </div>
  </section>
</div>
