<section id="about">
  <section class="about mb-5">
    <section class="flex margins">
      <section class="w-full lg:w-1/2 mt-5">
        <img src="assets/images/3d-gifs/capsul-loader.gif" class="desktop" width="400">
        <img src="assets/images/3d-gifs/capsul-loader.gif" class="mobile" width="250">
      </section>
      <section class="w-full lg:w-1/2 mt-5">
        <p class="mb-0">
          CAPSUL is a 1000 square foot multifunction rental space specifically crafted for creative work,
          photography, meetings, and events. It's curated with modular pieces, stocked with production gear, a
          media station that allows your to control music and lighting, and has sun-filled dedicated workspace
          so you can create what you imagine, whatever your mood or medium happens to be.
        </p>
      </section>
    </section>
  </section>
</section>
