
<section id="amenities">
  <p class="large-margin ml-2">Amenities</p>
  <hr>
  <section class="container">
    <section class="row">
      <div class="col-lg-6 col-sm-12 mt-3">
        <span class="icon-small mt-2">
          <img src="assets/images/icons/Wifi.png" height="35" width="35">
        </span>
        <p class="icon-title">Wifi</p>
        <p class="icon-descrip"><i>MYCAPSUL</i></p>
      </div>
      <div class="col-lg-6 col-sm-12 mt-3">
        <span class="icon-small mt-2">
          <img src="assets/images/icons/plinths.png" height="35" width="35">
        </span>
        <p class="icon-title">Pliths</p>
        <p class="icon-descrip"><i>Arrange as you like.</i></p>
      </div>
    </section>
    <section class="row">
      <div class="col-lg-6 col-sm-12 mt-3">
        <span class="icon-small mt-2">
          <img src="assets/images/icons/restrooms.png" height="35" width="35">
        </span>
        <p class="icon-title">Restroom</p>
        <p><i>Down the hall, left.</i></p>
      </div>
      <div class="col-lg-6 col-sm-12 mt-3 ">
        <span class="icon-small mt-2">
          <img src="assets/images/icons/workstation.png" height="35" width="35">
        </span>
        <p class="icon-title">Conduct</p>
        <p><i>Common areas for access only.</i></p>
      </div>
    </section>
    <section class="row">
      <div class="col-lg-6 col-sm-12 mt-3 ">
        <span class="icon-small mt-2">
          <img src="assets/images/icons/music.png" height="35" width="35">
        </span>
        <p class="icon-title">Music</p>
        <p><i>Adjust using media station.</i></p>
      </div>
      <div class="col-lg-6 col-sm-12 mt-3 ">
        <span class="icon-small mt-2">
          <img src="assets/images/icons/closet.png" height="35" width="35">
        </span>
        <p class="icon-title">Closet</p>
        <p><i>Props, kit, gear, fridge.</i></p>
      </div>
    </section>
    <section class="row">
      <div class="col-lg-6 col-sm-12 mt-3 ">
        <span class="icon-small mt-2">
          <img src="assets/images/icons/contact.png" height="35" width="35">
        </span>
        <p class="icon-title">Contact</p>
        <p class="mb-0"><i>+1 647 654 0460</i></p>
      </div>
      <div class="col-lg-6 col-sm-12 mt-3 ">
        <span class="icon-small mt-2">
          <img src="assets/images/icons/workstation.png" height="35" width="35">
        </span>
        <p class="icon-title">Lights</p>
        <p><i>Adjust using media station.</i></p>
      </div>
    </section>
    <section class="row">
      <div class="col-lg-6 col-sm-12 mt-3 ">
        <span class="icon-small mt-2">
          <img src="assets/images/icons/merchandise.png" height="35" width="35">
        </span>
        <p class="icon-title">Merchandise</p>
        <a href="mailto:TheGardenToronto@gmail.com" class=""><i>Email Link</i></a>
      </div>
      <div class="col-lg-6 col-sm-12 mt-3 ">
        <span class="icon-small mt-2">
          <img src="assets/images/icons/parking.png" height="35" width="35">
        </span>
        <p class="icon-title">Parking</p>
        <p><i>Free: Spot 1 & 2 only</i></p>
      </div>
    </section>
  </section>
</section>
