<section id="faq">
  <p class="p-3">FAQ</p>
  <hr class="mx-3 mb-4">
  <div class="w-4/5 mx-auto pt-6 pb-20">
    <p><b>What furniture is available?</b></p>
    <p>Please email for full list.</p>
    <p class="mt-5"><b>Is there office space?</b></p>
    <p>There's a sun-filled dedicated workstation that will seat up to 10 people.</p>
    <p class="mt-5"><b>When is the best time to shoot for natural lighting?</b></p>
    <p> Morning between 7am - 1pm</p>
    <p class="mt-5"><b>Is there music?</b></p>
    <p>Customize your music with Spotify (included) at our iPad docking station connected to wireless speakers that surround the studio.</p>
    <p class="mt-5"><b>Are there any additional fees?</b></p>
    <p>Every booking requires a $60 cleaning fee.</p>
    <p class="mt-5"><b>Do you have kitchen facilities?</b></p>
    <p>There's a bar fridge located in the closet.</p>
    <p class="mt-5"><b>Is there an elevator?</b></p>
    <p>The studio is on the second floor and is accessible via a wide staircase only.</p>
    <p class="mt-5"><b>What's the max capacity?</b></p>
    <p>Currently max capacity is 40 people.</p>
    <p class="mt-5"><b>What time do you close?</b></p>
    <p>All events must finish by 10pm. <br><br><br></p>
  </div>
</section>
