<section id="gallery">
  <p class="p-3">Gallery</p>
  <hr class="mx-3 mb-4">

  <div class="carousel">
    <div class="desktop nav nav-left">
      <div class=" ion-chevron-left carousel-arrow-icon-left"></div>
    </div>
    <div class="carousel-content">
      <div class="slide">
        <img src="assets/images/general/home-slides/desktop/img1b.jpg" class="desktop" width="100%" />
        <img src="assets/images/general/home-slides/mobile/img1c.jpg" class="mobile" width="100%" />
      </div>
      <div class="slide">
        <img src="assets/images/general/home-slides/desktop/img2b.jpg" class="desktop" width="100%" />
        <img src="assets/images/general/home-slides/mobile/img2c.jpg" class="mobile" width="100%" />
      </div>
      <div class="slide">
        <img src="assets/images/general/home-slides/desktop/img3b.jpg" class="desktop" width="100%" />
        <img src="assets/images/general/home-slides/mobile/img3c.jpg" class="mobile" width="100%" />
      </div>
      <div class="slide">
        <img src="assets/images/general/home-slides/desktop/img4b.jpg" class="desktop" width="100%" />
        <img src="assets/images/general/home-slides/mobile/img4c.jpg" class="mobile" width="100%" />
      </div>
      <div class="slide">
        <img src="assets/images/general/home-slides/desktop/img5b.jpg" class="desktop" width="100%" />
        <img src="assets/images/general/home-slides/mobile/img5c.jpg" class="mobile" width="100%" />
      </div>
      <div class="slide">
        <img src="assets/images/general/home-slides/desktop/img6b.jpg" class="desktop" width="100%" />
        <img src="assets/images/general/home-slides/mobile/img6c.jpg" class="mobile" width="100%" />
      </div>
      <div class="slide">
        <img src="assets/images/general/home-slides/desktop/img7b.jpg" class="desktop" width="100%" />
        <img src="assets/images/general/home-slides/mobile/img7c.jpg" class="mobile" width="100%" />
      </div>
      <div class="slide">
        <img src="assets/images/general/home-slides/desktop/img8b.jpg" class="desktop" width="100%" />
        <img src="assets/images/general/home-slides/mobile/img8c.jpg" class="mobile" width="100%" />
      </div>
      <div class="slide">
        <img src="assets/images/general/home-slides/desktop/img9b.jpg" class="desktop" width="100%" />
        <img src="assets/images/general/home-slides/mobile/img9c.jpg" class="mobile" width="100%" />
      </div>
      <div class="slide">
        <img src="assets/images/general/home-slides/desktop/img10b.jpg" class="desktop" width="100%" />
        <img src="assets/images/general/home-slides/mobile/img10c.jpg" class="mobile" width="100%" />
      </div>
      <div class="slide">
        <img src="assets/images/general/home-slides/desktop/img11b.jpg" class="desktop" width="100%" />
        <img src="assets/images/general/home-slides/mobile/img11c.jpg" class="mobile" width="100%" />
      </div>
      <div class="slide">
        <img src="assets/images/general/home-slides/desktop/img12b.jpg" class="desktop" width="100%" />
        <img src="assets/images/general/home-slides/mobile/img12c.jpg" class="mobile" width="100%" />
      </div>
      <div class="slide">
        <img src="assets/images/general/home-slides/desktop/img13b.jpg" class="desktop" width="100%" />
        <img src="assets/images/general/home-slides/mobile/img13c.jpg" class="mobile" width="100%" />
      </div>
      <div class="slide">
        <img src="assets/images/general/home-slides/desktop/img14b.jpg" class="desktop" width="100%" />
        <img src="assets/images/general/home-slides/mobile/img14c.jpg" class="mobile" width="100%" />
      </div>
      <div class="slide">
        <img src="assets/images/general/home-slides/desktop/img15b.jpg" class="desktop" width="100%" />
        <img src="assets/images/general/home-slides/mobile/img15c.jpg" class="mobile" width="100%" />
      </div>
      <div class="slide">
        <img src="assets/images/general/home-slides/desktop/img16b.jpg" class="desktop" width="100%" />
        <img src="assets/images/general/home-slides/mobile/img16c.jpg" class="mobile" width="100%" />
      </div>
      <div class="slide">
        <img src="assets/images/general/home-slides/desktop/img17b.jpg" class="desktop" width="100%" />
        <img src="assets/images/general/home-slides/mobile/img17c.jpg" class="mobile" width="100%" />
      </div>
      <div class="slide">
        <img src="assets/images/general/home-slides/desktop/img18b.jpg" class="desktop" width="100%" />
        <img src="assets/images/general/home-slides/mobile/img18c.jpg" class="mobile" width="100%" />
      </div>
      <div class="slide">
        <img src="assets/images/general/home-slides/desktop/img19b.jpg" class="desktop" width="100%" />
        <img src="assets/images/general/home-slides/mobile/img19c.jpg" class="mobile" width="100%" />
      </div>
      <div class="slide">
        <img src="assets/images/general/home-slides/desktop/img20b.jpg" class="desktop" width="100%" />
        <img src="assets/images/general/home-slides/mobile/img20c.jpg" class="mobile" width="100%" />
      </div>
      <div class="slide">
        <img src="assets/images/general/home-slides/desktop/img21b.jpg" class="desktop" width="100%" />
        <img src="assets/images/general/home-slides/mobile/img21c.jpg" class="mobile" width="100%" />
      </div>
      <div class="slide">
        <img src="assets/images/general/home-slides/desktop/img22b.png" class="desktop" width="100%" />
        <img src="assets/images/general/home-slides/mobile/img22c.jpg" class="mobile" width="100%" />
      </div>
    </div>
    <div class="desktop nav nav-right">
      <div class="ion-chevron-right carousel-arrow-icon-right desktop"></div>
    </div>
  </div>
</section>
