<section id="gear">
  <p class="p-3">Gear List</p>
  <hr class="mx-3 mb-4">

  <section class="w-4/5 mx-auto py-6">
    <ul>
      <li class="before:content-['-'] before:mr-2">4 LED lights</li>
      <li class="before:content-['-'] before:mr-2">Paper backdrops (white, grey, black, blue, yellow, green, red)</li>
      <li class="before:content-['-'] before:mr-2">Tripods and stands</li>
      <li class="before:content-['-'] before:mr-2">Bounce</li>
      <li class="before:content-['-'] before:mr-2">2 Strobes</li>
      <li class="before:content-['-'] before:mr-2">Steamer </li>
      <li class="before:content-['-'] before:mr-2">Mini Fridge </li>
      <li class="before:content-['-'] before:mr-2">Bounce </li>
      <li class="before:content-['-'] before:mr-2">Two Foldable Tables</li>
      <li class="before:content-['-'] before:mr-2">Rolling Rack</li>
    </ul>
  </section>
</section>
