<section id="gear">
  <p class="p-3">Gear List</p>
  <hr class="m-3 mt-0">

  <section class="offset mt-3">
    <p class="mb-0">- 4 LED lights</p>
    <p class="mb-0">- Paper backdrops (white, grey, black, blue, yellow, green, red)</p>
    <p class="mb-0">- Tripods and stands</p>
    <p class="mb-0">- Bounce</p>
    <p class="mb-0">- 2 Strobes</p>
    <p class="mb-0">- Steamer </p>
    <p class="mb-0">- Mini Fridge </p>
    <p class="mb-0">- Bounce </p>
    <p class="mb-0">- Two Foldable Tables</p>
    <p class="mb-0">- Rolling Rack</p>
  </section>
</section>
